<p><%= flash[:notice] %></p>
<h2>投稿一覧</h2>

<% @list.each do |list| %>
  <h3>タイトル</h3>
  <small><%= link_to list.title, show_list_path(list) %></small>
  
  <h3>画像</h3>
  <%= image_tag list.image, size: "200x200" %>
  
  <%= link_to '削除する', destroy_list_path(list), method: :delete %>
<% end %>