<header>
  <div class="container">
    <div class="header">
      <h1>AllLists</h1>
      <nav>
        <ul class="nav">
          <li class="nav-list">
            <%= link_to "Top", root_path %>
          </li>
          <li class="nav-list">
            <%= link_to "Lists", lists_path %>
          </li>
          <li class="nav-list">
            <%= link_to "NewList", new_list_path %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>